
src/BookStore.WebApi/obj/BookStore.WebApi.csproj.nuget.dgspec.json
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.AssemblyInfo.cs
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.AssemblyInfoInputs.cache
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.assets.cache
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.csproj.AssemblyReference.cache
src/BookStore.WebApi/obj/Debug/net8.0/BookStore.WebApi.GeneratedMSBuildEditorConfig.editorconfig
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.csproj.AssemblyReference.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.assets.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfoInputs.cache
src/BookStore.Infrastructure/obj/Debug/net8.0/BookStore.Infrastructure.AssemblyInfo.cs
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.GeneratedMSBuildEditorConfig.editorconfig
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.assets.cache
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.AssemblyInfoInputs.cache
src/BookStore.Domain/obj/Debug/net8.0/BookStore.Domain.AssemblyInfo.cs
.vs/BookStore/FileContentIndex/576910c3-44d0-423b-9995-b007ef954edd.vsidx
.vs/BookStore/FileContentIndex/517087e0-5ad5-4ea1-b5c6-04ba1a43330d.vsidx
.vs/BookStore/FileContentIndex/26748aae-6b51-41f1-96b6-f58daa476b48.vsidx
